html {
    /* px 表示 “像素（pixels）”: 基础字号为 10 像素 */
    font-size: 40px;
    /* Google fonts 输出的 CSS */
    font-family: 'Long Cang', cursive;
    background-color:rgba(153, 199, 229, 0.233);
}

body {
    width: 1500px;
    margin: 0 auto;
    background-color:rgb(99, 171, 199);
    padding: 0 40px 40px 40px;
    text-align: center;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539F;
    text-shadow: 3px 3px 1px black;
}

img {
    display: block;
    margin: 0 auto;
}

button {
    width: 400;
    height: 100;
}